@import "../animations.scss";

.container {
	width: 90vw;
	background-color: var(--container-dark);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	padding: 1.5rem;
	margin-top: 1rem;
	@media (min-width: 768px) {
		padding: 2rem;
		width: 600px;
	}
}
.title {
	text-align: center;
	text-transform: uppercase;
	font-size: var(--font-size-lg);
	font-weight: bold;
}
.subtitle {
	text-align: center;
	margin-bottom: 0.5rem;
	@media (min-width: 768px) {
		margin-bottom: 0;
	}
}
.currentPriceParagraph {
	color: var(--muted);
	margin: 0 0 1rem;
	text-align: center;
	display: block;
}
.currentPriceNumber {
	color: var(--less-muted);
}

.inputGroup {
	margin-bottom: 1.5rem;
}

.label {
	text-align: center;
	display: block;
	font-weight: normal;
	@media (min-width: 768px) {
		margin-bottom: -0.75rem;
	}
}

.errorMessage {
	color: red;
	margin-top: 0.5rem;
}

.formattedInputContainer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.inputPrefix {
	position: absolute;
	left: 1rem;
	color: #888;
	font-size: var(--font-size-lg);
}

.fadeInElement {
	@extend .fadeIn;
}

.loading {
	text-transform: uppercase;
	text-align: center;
	font-size: var(--font-size-sm);
	margin-top: 1rem;
	color: var(--muted);
}

.maxAmountAlert {
	color: #ff4d4f; // Red color for alert
	font-size: var(--font-size-sm);
	margin-top: 0.5rem;
	text-align: center;
	@extend .fadeIn;
}

.animated {
	.title,
	.subtitle {
		@extend .fadeIn;
		animation-delay: 0.1s;
		opacity: 0;
	}

	.currentPriceParagraph {
		@extend .fadeIn;
		animation-delay: 0.2s;
	}

	// First input group (YOU PAY)
	.inputGroup:first-of-type {
		@extend .fadeIn;
		animation-delay: 0.3s;
	}

	// Swap button wrapper
	.swapButtonContainer {
		@extend .fadeIn;
		animation-delay: 0.4s;
	}

	// Second input group (YOU RECEIVE)
	.inputGroupReceive {
		@extend .fadeIn;
		animation-delay: 0.5s;
	}

	.ctaButtonContainer {
		@extend .fadeIn;
		animation-delay: 0.6s;
	}

	// If the button is directly in the form without a container
	button[type="submit"] {
		@extend .fadeIn;
		animation-delay: 0.6s;
	}
}
